<div class="footer">
    <div class="left_footer">
        <!-- <p>Renewcykle</p> -->
        <div class="logo__footer"></div>
    </div>
    <div class="middle_footer">
        <p>LINKS</p>
        <ul class="links">
            <li><a href="/about">About us</a></li>
            <li><a href="/howwework">How we work</a></li>
            <li><a href="/team">Our team</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </div>
    <div class="right_footer">
        <p>CONTACTS</p>
        <span>Federal University of Technology Owerri where we buid Federal University of Technology Owerri where we buid
                Federal University of Technology Owerri where we buid
        </span><br />
        <span>
            <div class="h5">Subscribe for our newsletter</div>
            <div class="s"></div>
            <div class="alert" id="alert"></div>
            <form>
                <input id="news_input_name" type="text" placeholder="Enter your name..." required/>
                <input id="news_input_email" type="email" placeholder="Enter your email..." required/>
                <button id="news_button" type="submit">SUBMIT</button>
            </form>
        </span>
    </div>
</div>