<!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="img/img4.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <div class="description_">At Renewcycle</div>
                <h2 style="font-size: 24px;" class="short_desc1">We convert <span class="short_desc2">trash to treasure</span></h2>
                <p class='wow fadeInUp'>We provide reliable, affordable and clean energy for individuals, homes, businesses and institutions who use our products made from recycled plastic and e-waste.</p>
                <br /><br />
                <a href="javascript:void(0)" class="btn-get-started scrollto subscribe">Subscribe our newsletter</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/bg1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                  <div class="description_">At Renewcycle</div>
                  <h2 style="font-size: 24px;" class="short_desc1">We convert <span class="short_desc2">darkness to light</span></h2>
                <p class='wow fadeInUp'>We are proud to be an indigenous maker of Renewable energy kits and other clean energy products which our customers use in lighting up their homes.</p>
                <a href="javascript:void(0)" class="btn-get-started scrollto subscribe">Subscribe our newsletter</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="img/bg2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                  <div class="description_">At Renewcycle</div>
                  <h2 style="font-size: 24px;" class="short_desc1">We convert <span class="short_desc2">tonnes to energy</span></h2>
                <p class='wow fadeInUp'>When you recycle with us, we convert the tonnes of plastic to a solar/inverter power energy product which would be the equivalent of your cash reward.</p>
                <a href="javascript:void(0)" class="btn-get-started scrollto subscribe">Subscribe our newsletter</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->