<div class="dash_navigations">
        <ul class="ul_dash">
            <li><a href="/admin/dashboard/all-photos">Gallery</a></li>
            <li><a href="/admin/dashboard/add-photos">Add photos</a></li>
            <li><a href="/admin/dashboard/all-subscribers">All Subscribers</a></li>
            <li><a href="/admin/dashboard/notify-subscribers">Notify Subscribers</a></li>
        </ul>
</div>